<p>saludador Hola personas del mundo entero que Dios les bendiga!</p>

<div class="container content">
	<div class="row">
		<div class="col-md-6">
			HOLA!
		</div>
		<div class="col-md-6">
			HOLA!
		</div>
	</div>
	
</div>
